<div id="home">
  <div class="home container">
    <h1>BRIAN HAN</h1>
    <h2>web developer &amp; designer</h2>
  </div>
</div>
<div id="about">
  <div class="about container">
    <h1>Hello</h1>
    <hr />
    <h3 class="first-line">
      Experiences should be beautifully &amp; wonderfully made.</h3>
    <h3>
      I build products, tools &amp; experiences for the web using an array of technologies and skills. I care deeply about creating beautiful and well designed user-experiences from concept to code.</h3>
    <h3>
      I live in Toronto where I'm making my way as a freelancer &amp; collaborator on various projects.</h3>
    
  </div>
  <img 
      src="http://assets0.ordienetworks.com/misc/Boop%20Attack.gif" 
      class="hello-bear">
  <!-- <img 
    class="hello-bear" 
    src="http://gdgdtrip.com/files/2012/11/hello3.gif"> -->
</div>
<div id="resume">
  <div class="resume container">
    <h1>Resume</h1>
    <hr />
    <h3>I'm always looking for great people to work with and new problems to solve.</h3>  
    <h3><b>Skills</b></h3>
    <ul>
      <li>HTML / CSS</li>
      <li>JavaScript / jQuery</li>
      <li>Foundation / Bootstrap</li>
      <li>Ruby on Rails</li>
      <li>Rspec / Test-Driven Devolpment</li>
      <li>Agile practices</li>
      <li>Final Cut Pro 7, Adobe Photoshop &amp; Master Collection CS5</li>
    </ul>
    <h3><b>Education</b></h3>
    <ul>
      <li>Bitmaker Labs
        <ul>
          <li>a nine-week program dedicated to learning full stack web development.</li>
        </ul>
      </li>
      <br />
      <li>Ryerson University
        <ul>
          <li>Bachelor of Journalism, TV &amp; Radio</li>
        </ul>
      </li>
    </ul>
    <h3><b>Volunteer</b></h3>
    <ul>
      <li>Bit-by-Bit Podcast
        <ul>
          <li>Original Co-Host</li>
        </ul>
      </li>
      <br />
      <li>Videographer &amp; Photographer
        <ul>
          <li>Schools Without Borders</li>
          <li>Lifeway Community Church</li>
          <li>Psalms 91:1 Accessories</li>
        </ul>
      </li>
    </ul>
    <h3><b>Work</b></h3>
    <ul>
      <li>Entron Systems USA / Technical Sales - Assistant Manager</li>
    </ul>
  </div>
</div>
<div id="contact">
  <div class="contact container">
    <h1>Contact</h1>
    <hr />
    <h3>Let's talk ideas and build something awesome together!</h3>    
  </div>
</div>
