<div id="home">
  <div class="home container">
    <h1>BRIAN HAN</h1>
    <h2>web developer &amp; designer</h2>
  </div>
</div>
<div id="hello">
  <div id="hello-koala">
    <div class="koala container">
      <h1 class="letter-spaced">hello</h1>
      <p>My name is brian han </p>
      <p>I'm a web developer and designer</p>
      <p>living in Toronto. I love to build and design</p>
      <p>web apps and learn new technologies.</p>
      <p>I'm always working to build better</p>
      <p>more beautiful user-experiences.</p>      
    </div>
  </div>
  <div id="skills">
    <div class="skills container">
      <h1>Skills</h1>
      <ul>
        <li><em class="htmlcss">HTML5 &amp; CSS3</em></li>
        <li><em class="photoshop">Photoshop</em></li>
        <li><em class="js">JavaScript</em></li>
        <li><em class="js">jQuery</em></li>
        <li><em class="js">AJAX</em></li>
        <li><em class="js">D3.js</em></li>
        <li><em class="ror">Ruby on Rails 3 &amp; 4</em></li>
        <li><em class="ror">Object Oriented Programming</em></li>
        <li><em class="agile">MVC frameworks</em></li>
        <li><em class="agile">Test driven Development</em></li>
        <li><em class="agile">Rspec</em></li>
        <li><em class="git">Git &amp; GitHub</em></li>
        <li><em class="video">Final Cut Pro 7</em></li>
        <li><em class="video">Premiere Pro</em></li>
      </ul>
    </div>
  </div>
</div>
<div id="contact">
  <div class="contact container">
    <h1>CONTACT</h1>
    <p>Let's connect and talk about your project</p>
  </div>
</div>

<!-- 
<div id="resume">
  <div class="resume container">
    <h1>Resume</h1>
    <hr />
    <h3>
      I'm always looking for great people 
      to work with and new problems to solve.</h3>  

    <h3><b>Education</b></h3>
    <ul>
      <li>Bitmaker Labs
        <ul>
          <li>a nine-week program dedicated to learning full stack web development.</li>
        </ul>
      </li>
      <br />
      <li>Ryerson University
        <ul>
          <li>Bachelor of Journalism, TV &amp; Radio</li>
        </ul>
      </li>
    </ul>
    <h3><b>Volunteer</b></h3>
    <ul>
      <li>Bit-by-Bit Podcast
        <ul>
          <li>Original Co-Host</li>
        </ul>
      </li>
      <br />
      <li>Videographer &amp; Photographer
        <ul>
          <li>Schools Without Borders</li>
          <li>Lifeway Community Church</li>
          <li>Psalms 91:1 Accessories</li>
        </ul>
      </li>
    </ul>
    <h3><b>Work</b></h3>
    <ul>
      <li>Entron Systems USA / Technical Sales - Assistant Manager</li>
    </ul>
  </div>
</div>
<div id="contact">
  <div class="contact container">
    <h1>Contact</h1>
    <hr />
    <h3>Let's talk ideas and build something awesome together!</h3>    
  </div>
</div>
 -->